[Desktop Entry]
Name=Tea Package Maker
GenericName=Tea Package Maker
Comment=Create offline package installer
Exec=tea-maker-gtk-pkexec
Icon=/usr/share/icons/hicolor/scalable/apps/tea-maker-gtk.png
Terminal=false
Type=Application
Categories=Tea;PackageManager;GTK;Utility;
