[Desktop Entry]
Name=Tea Package Maker
GenericName=Tea Package Maker
Comment=Create offline package installer
Exec=tea-maker-gtk-pkexec
Icon=tea-maker-gtk
Terminal=false
Type=Application
Categories=Tea;PackageManager;GTK;Utility;
