Source: tea-maker-gtk
Section: python
Priority: optional
Maintainer: nurul irfan <irfanlongstride@gmail.com>
Build-Depends: python3-apt (>=0.3.9), python-apt (>=0.3.9), python3 (>=3.4), debhelper (>=9)
  
Standards-Version: 3.9.6
Homepage: https://github.com/tealinuxos/tea-maker-gtk
#Vcs-Git: git://anonscm.debian.org/collab-maint/tea-maker-gtk.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/tea-maker-gtk.git

Package: tea-maker-gtk
Architecture: all
Depends: python3-apt (>=0.3.9), python-apt (>=0.3.9), python3 (>=3.4)
Description: create offline ubuntu package installer
 this software creates .tea package that can be installed using Tea Installer
